.error {
    color: red;
}

.bold {
    font-weight: bold;
}

ul {
    list-style-type: none;
}

h1 {
    text-align: center;
}

nav a {
    margin-right: 20px;
}

.float-right {
    float: right;
}

#user_menu {
    float: right;
}

#logout {
    float: right;
}