{% extends "base.html" %}

{% block content %}
    {% if blog|length == 0 %}
    <h1>Build a Blog</h1>
    <p>No posts yet</p>
    {% elif blog|length == 1 %}
    <ul>
        {% for blog in blog %}
            <li>
                <h1>{{blog.title}}</h1>
                {{blog.body}}
            </li>
            {% endfor %}
        </ul>
    {% else %}
    <ul>
        <h1>Build a Blog</h1>
        {% for blog in blog %}
        <li>
            <a href="./blog?id={{blog.id}}"><h2>{{blog.title}}</h2></a>
            {{blog.body}}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}