{% extends "base.html" %}

{% block content %}
    {% if blog|length == 0 %}
        <h1>Blog Posts</h1>
        <p>No posts yet</p>
        
    {% else %}
    <ul>
        <h1>Blog Posts</h1>
        {% for blog in blog %}
        <li>
            <a href="./blog?id={{blog.id}}"><h2>{{blog.title}}</h2></a>
            {{blog.body}}
            <p>Written by <a href="./blog?user={{blog.owner.username}}">{{blog.owner.username}}</a></p>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}